<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pronunciation Assessment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col h-screen">  
    <nav class="flex bg-gray-200 p-4 gap-16">
        <img class="max-h-10" src="https://www.costacruises.com/content/dam/costa/costa-asset/Logos/logo.svg" alt="Costa Cruises" class="logo">
        <div class="text-3xl">
            Pronunciation Assessment
        </div>
    </nav>

    <main class="flex flex-col items-center gap-4 bg-center flex-grow pt-4">
        <div class="text-gray-500">
            <ol class="list-decimal list-inside">
                <li>Choose a text from the dropdown list</li>
                <li>Click on the record button to start recording</li>
                <li>Read the text displayed in the text box</li>
                <li>Click on the stop button to stop recording</li>
                <li>Wait for the results to be displayed</li>
            </ol>
        </div>
        <select id="text-select" class="border p-2">
        </select>
        <form id="reftextform">
            <textarea class="p-2 text-xl" id = "reftext" rows = "3" cols = "80" name = "reftext" maxlength="160" disabled></textarea>
        </form>

            <button id="buttonmic" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Record
            </button>

            <hr id="results" class="border-1 border-gray-700 w-4/5 my-4 hidden"/>
            
            <div id="spinner" class="hidden">
                <div class="flex flex-col items-center gap-4">
                    <p class="text-2xl">Processing...</p>
                    <div class="border-t-transparent border-solid animate-spin  rounded-full border-blue-400 border-8 h-24 w-24"></div>
                </div>
            </div>
            
            <div id="metrics" class="hidden">
                <div class="flex flex-col gap-4">
                    <div id="summarytable">
                        <table class="text-center table-auto w-full">
                            <tr>
                                <th>Accuracy</th>
                                <th>Fluency</th>
                                <th>Completeness</th>
                                <th>Pronunciation</th>
                                <th id="woh">Omitted Words</th>
                                <th id="wih">Extra Words</th>
                            </tr>
                            <tr>
                                <td id="accuracyscore"></td>
                                <td id="fluencyscore"></td>
                                <td id="completenessscore"></td>
                                <td id="pronscore"></td>
                                <td id="wordsomitted"></td>
                                <td id="wordsinserted"></td>
                            </tr>
                        </table>
                    </div>
                
                    <div id="detailedtable" class="overflow-x-auto">
                        <table class="overflow-x-auto">
                            <tr id="wordrow"></tr>
                            <tr id ="phonemerow"></tr>
                            <tr id ="scorerow"></tr>
                        </table>
                    </div>
                </div>

            </div>

            <div id="recordingsList"></div>

    </main>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>

</body>

</html>
